In [2]:
num = 25
name = 'Steven'

In [3]:
print('Hi! My name is {} and I am {} years old.' .format (name,num))

Hi! My name is Steven and I am 25 years old.

In [4]:
print('Hi! My name is {x} and I am {y} years old.' .format (x=name,y=num))

Hi! My name is Steven and I am 25 years old.

In [5]:
s = 'Hello'

In [6]:
s[0]

'H'

In [7]:
s[3]

'l'

In [8]:
## [] starts from zero

In [9]:
s = 'abcdefghijklmn'

In [10]:
s[0]

'a'

In [11]:
s[2:]

'cdefghijklmn'

In [12]:
s[:4]

'abcd'

In [13]:
## [:4] up to 3 but not including 4

In [14]:
s[3:6]

'def'

In [15]:
# [3:6] not including g

In [16]:
[1,2,3]

[1, 2, 3]

In [17]:
['a','b','c']

['a', 'b', 'c']

In [18]:
my_list = ['a','b','c']

In [19]:
my_list.append('e')

In [20]:
print(my_list)

['a', 'b', 'c', 'e']

In [21]:
my_list[0]

'a'

In [22]:
my_list[0] = 'NEW'

In [23]:
my_list

['NEW', 'b', 'c', 'e']

In [24]:
nest = [1,2,[3,4]]

In [25]:
nest

[1, 2, [3, 4]]

In [26]:
nest[2]

[3, 4]

In [27]:
nest[2][1]

4

In [28]:
nest = [1,2,3,[4,5,['target']]]

In [29]:
print(nest[3][2][0])

target

In [30]:
{1,2,3}

{1, 2, 3}

In [31]:
s = {1,1,1,1,1,2,2,2,3,4,4,5,5}

In [32]:
# set only shows unique element.

In [33]:
s.add(7)

In [34]:
s

{1, 2, 3, 4, 5, 7}

In [35]:
1>2

False

In [36]:
3!=3

False

In [37]:
3!=2

True

In [38]:
1==2

False

In [39]:
1==1

True

In [40]:
'hi' == 'bye'

False

In [41]:
1 < 2 and 2 < 3

True

In [42]:
1 < 2 and 2 > 3

False

In [43]:
1 < 2 or 2 > 3

True

In [44]:
(1 < 2) and (7**2 < 7**3)

True

In [45]:
True and False

False

In [46]:
True and True

True

In [47]:
if 1<2:
    print("That's is correct")

That's is correct

In [48]:
if 1<2:
    print('You are correct')

You are correct

In [49]:
if 1 == 2:
    print ('First')
elif 3 == 3:
    print ('Middle')
else:
    print ('Last')

Middle

In [50]:
if 1 == 2:
    print ('First')
else:
    print ('Last')

Last

In [51]:
seq = [1,2,3,4,5]

In [52]:
for num in seq:
    print(num)

1
2
3
4
5

In [53]:
for num in seq:
    print(num + 1)

2
3
4
5
6

In [54]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [55]:
for x in seq:
    print(x)

1
2
3
4
5

In [56]:
range (0,100)

range(0, 100)

In [57]:
for x in range(0,15):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [58]:
list(range(0,15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [59]:
x = [1,2,3,4]

In [60]:
out = []

for num in x:
    out.append(num**2)
    ##Remember append

In [61]:
print(out)

[1, 4, 9, 16]

In [62]:
# List comprehension

In [63]:
[num**2 for num in x] #same as above

[1, 4, 9, 16]

In [64]:
out = [num**2 for num in x]

In [65]:
print(out)

[1, 4, 9, 16]

In [66]:
def my_func(param1):
    print(param1)

In [67]:
my_func('hello')

hello

In [68]:
def my_func(name):
    print('Hello ' +name)

In [69]:
my_func('Steven')

Hello Steven

In [70]:
def my_func(name = 'Default Name'):
    print('Hello '+name)

In [71]:
my_func('Steven')

Hello Steven

In [72]:
my_func()

Hello Default Name

In [73]:
my_func ##ask information for this item

In [74]:
##Remember this part

In [75]:
def square(num): ##square is the name of the function same as my_func
    return num**4

In [76]:
output = square(2)

In [77]:
output

16

In [78]:
def square(num):
    """
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER.
    """
    return num**3

In [79]:
output = square(2)

In [80]:
output

8

In [81]:
## Type 'square' plus shift+tab keys **it is used to call the red line
## Quick documentation of the string e.g. range

In [82]:
def times2(var):
    return var*2

In [83]:
times2(5)

10

In [84]:
seq = [1,2,3,4,5,10]

In [85]:
map(times2,seq)

In [86]:
list(map(times2,seq))

[2, 4, 6, 8, 10, 20]

In [87]:
#lambda expression

In [88]:
lambda var:var*2

In [89]:
t = lambda var:var*2

In [90]:
t(6)

12

In [91]:
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15, 30]

In [92]:
##filter function

In [93]:
filter(lambda num:num%2 == 0, seq)

In [94]:
list(filter(lambda num:num%2 == 0, seq)) #filter even number

[2, 4, 10]

In [95]:
s = 'hello my name is Steven'

In [96]:
s.lower()

'hello my name is steven'

In [97]:
s.upper()

'HELLO MY NAME IS STEVEN'

In [98]:
s.split() #useful for text analysis

['hello', 'my', 'name', 'is', 'Steven']

In [99]:
tweet = 'Go Manchester United! #GGMU'

In [100]:
tweet.split()

['Go', 'Manchester', 'United!', '#GGMU']

In [101]:
tweet.split('#') #it splits the string at #

['Go Manchester United! ', 'GGMU']

In [102]:
tweet.split('#')[0][1] #play around with this [0] = first string [1] = GGMU

'o'

In [103]:
d = {'k1':1,'k2':2}

In [104]:
d

{'k1': 1, 'k2': 2}

In [105]:
d.keys()

dict_keys(['k1', 'k2'])

In [106]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [107]:
d.values()

dict_values([1, 2])

In [108]:
lst = [1,2,3]

In [109]:
lst.pop() #take off the last number

3

In [110]:
lst

[1, 2]

In [111]:
lst = [1,2,3,4,5]

In [112]:
item = lst.pop()

In [113]:
lst

[1, 2, 3, 4]

In [114]:
item

5

In [115]:
first = lst.pop(0)

In [116]:
lst

[2, 3, 4]

In [117]:
first

1

In [118]:
'x' in [1,2,3]

False

In [119]:
'x' in ['x','y','z'] #to check x in the set

True

In [120]:
x = [(1,2),(3,4),(5,6)]

In [121]:
x

[(1, 2), (3, 4), (5, 6)]

In [122]:
x[0]

(1, 2)

In [123]:
x[0][1]

2

In [124]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [125]:
for (a,b) in x:
    print (b)

2
4
6

In [126]:
for (a,b) in x:
    print (a)
    print (b)

1
2
3
4
5
6

In [127]:
for (a,b) in x:
    print (b)
    print (a)

2
1
4
3
6
5

In [128]:
print("Hello World")

Hello World